/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
.env
/public/uploads/business_logos
/public/uploads/documents
/public/uploads/img
/public/uploads/media
/public/uploads/invoice_logos
/public/uploads/UltimatePOS
/public/uploads/temp
/public/js/
/public/css/
/public/fonts/
/public/images/
/public/modules/
/public/mix-manifest.json
/.vs/proshop/v18/workspaceFileList.bin
/.vs/proshop.slnx/FileContentIndex/528bd976-2625-41f7-84af-c85a74b1a9e2.vsidx
/.vs/proshop.slnx/FileContentIndex/663f5c79-b9f1-4171-8ae6-382980299d46.vsidx
/.vs/proshop.slnx/FileContentIndex/76a257c5-c03d-4db7-b32a-d03268834fb9.vsidx
/.vs/proshop.slnx/FileContentIndex/812c1d95-8dd9-4788-92e3-7f69c021bd83.vsidx
/.vs/proshop.slnx/FileContentIndex/9b1a52bf-2f30-4c1c-a874-d51467d69e6c.vsidx
/.vs/proshop.slnx/FileContentIndex/aa7f6577-e8ac-4d7b-be5b-6f45c49b213b.vsidx
/.vs/proshop.slnx/FileContentIndex/b1506d2b-bcfc-478a-967f-32139d355ddf.vsidx
/.vs/proshop.slnx/FileContentIndex/bd8d36ce-f8b6-47f6-aeee-ea5398f36c44.vsidx
/.vs/proshop.slnx/FileContentIndex/be847029-f928-450e-99e7-9464bde454a5.vsidx
/.vs/proshop.slnx/FileContentIndex/beef0aa5-353a-4d4e-bb92-f8f3cedb83be.vsidx
/.vs/proshop.slnx/FileContentIndex/c8358e85-f036-46e2-9c86-4fac7457d256.vsidx
/.vs/proshop.slnx/v18/.wsuo
/.vs/proshop.slnx/v18/DocumentLayout.backup.json
/.vs/proshop.slnx/v18/DocumentLayout.json
/.vs/slnx.sqlite
/.vs/slnx.sqlite-journal
/.vs/VSWorkspaceState.json
/.vs/phptasks.json
/.vs/proshop.slnx/config/applicationhost.config
/.vs/proshop.slnx/FileContentIndex/6e787e2d-83d2-4484-bbb5-d7fb4ae9b59b.vsidx
/.vs/proshop.slnx/FileContentIndex/b0bc3ca2-c815-41cd-80d5-cbfc11b132dc.vsidx
/.vs/proshop.slnx/FileContentIndex/b4fe74f8-7ddb-4ec3-ad32-2077485eeae8.vsidx
/.vs/proshop.slnx/FileContentIndex/274fb8ba-8832-4e37-8516-a70a4b562f93.vsidx
